.p-16 {
  padding: 16px;
}

.flex-center(@j: center) {
  display: flex;
  justify-content: @j;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.font(@s: 14px, @w: 400) {
  font-size: @s;
  font-weight: @w;
  line-height: @s + 8px;
}
