.p-16 {
  padding: 16px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-fill-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.font(@s: 14px, @w: 400) {
  font-size: @s;
  font-weight: @w;
  // https://tdesign.tencent.com/design/fonts#header-18
  line-height: @s + 8px;
}

.font-templet(@w: 400, @s: 14px, @h: 22px) {
  font-weight: @w;
  font-size: @s;
  line-height: @h;
}

.popup-container {
  padding: 16px 0;
  max-height: calc(100vh - 117px);
  overflow-y: auto;
}

.card {
  margin: 16px;
  display: flex;
  height: var(--card-height);
  border-radius: var(--td-radius-large);
  box-shadow: var(--shadow);
  overflow: hidden;
  &__content {
    .p-16();
    .flex-col();
    width: 100%;
    padding-bottom: 12px;
  }
}

.price {
  .font(14px, 600);
  margin-top: auto;
}
